config/*
!config/home-assistant.conf.default

# There is not a better solution afaik..
!config/custom_components
config/custom_components/*
!config/custom_components/example.py
!config/custom_components/hello_world.py
!config/custom_components/mqtt_example.py
!config/panels
config/panels/*
!config/panels/react.html

tests/testing_config/deps
tests/testing_config/home-assistant.log

# Hide some OS X stuff
.DS_Store
.AppleDouble
.LSOverride
Icon

# Logs
*.log
pip-log.txt

# Visual Studio Code
.vscode

# Built docs
docs/build

secrets.yaml
known_devices.yaml

.DS_Store
.DS_Store?
._*
*.xml
*.txt
*.db
*.db-journal
*.db-shm
*.db-wal
*.conf
*.sqlite
*.log
.smb*

.HA_VERSION
/deps
/www
secrets.yaml
known_devices.yaml
ip_bans\.yaml

\.uuid